

// Colours
$mid-grey: #3d3d3d;
$dark-grey: #303030;
$poem-color: #E7D2AD;

// All Poems
.icon {
	position: fixed;
	top: 8px;
	left: 10px;
	font-size: 20px;
	color: #afafaf;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	z-index: 101;
}

.icon:hover {
	color: #191919;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	cursor: pointer;
}

i.icon.icon-volume-up, i.icon.icon-volume-off {
	display: none;
}

i.icon.icon-volume-up.audio-active, i.icon.icon-volume-off.audio-active {
	display: inline-block;
}

.mobile {
	position: fixed;
	z-index: 100;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	display: table;
	text-align: center;
}

.mobile-container {
	font-size: 6rem;
	display: table-cell;
	vertical-align: middle;
}

.mobile-container.rotate {
	transform: rotate(90deg);
	transition: 2s;
}

.mobile-text {
	font-size: 1rem;
	position: absolute;
	display: inline-block;
	top: 65vh;
	left: 0;
	right: 0;
	margin: auto;
	font-family: "Open Sans";
}

.white-bg {
	background-color: white;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}

// Landing Cover
.landing-bg {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: white;
	text-align: center;
	z-index: -1;
}

.landing-img {
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}

.front {
	height: 100vh;
	width: 100%;
}

.title {
	position: absolute;
	bottom: 0;
}

// HOME

.vid-home {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}

.black-mask {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
}

.icon.home {
	color: white;
}

.icon.home:hover {
	color: #c9c9c9;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	cursor: pointer;
}

.home-title {
	position: absolute;
	color: white;
	z-index: 2;
	width: 100%;
	text-align: center;
	height: 100%;
	display: table;
	font-size: 5rem;
	font-weight: 500;
}

.home-title span {
	display: table-cell;
	vertical-align: middle;
	font-family: "bebas-neue",sans-serif;
}

#time {
	color: white;
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	bottom: 75px;
	font-family: "bebas-neue",sans-serif;
	font-size: 1.5rem;
}

.share-buttons {
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 2;
	bottom: 35px;
	opacity: 0.5;
}

.fb-share-button, .twitter-share-button {
	// position: absolute !important;
	// text-align: center;
	// bottom: 40px;
	display: inline-block;
	vertical-align: middle;
}

.fb-share-button span {
	height: 21px !important;
}

// WANDERER

.wan-img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
	margin: auto;
	left: 0;
	right: 0;
}


// The EXILE

body {
	font-size: 1em;
	margin: 0px;
	background-color: black;
}

.title, .text-segue h1 {
	font-size: 3rem;
	margin-top: 10px;
	line-height: 0.72;
	word-break: break-all;
	font-weight: 800;
	color: black;
	font-family: "Open Sans";
}

.text-segue {
	position: relative;
	height: 500px;
	font-family: "Open Sans";
}

.rows {
	position: absolute;
	height: 205px;
	overflow: hidden;
	margin: 0px;
}

.row-1 {
	top: 0;
}

.row-2 {
	top: 80px;
}

.row-3 {
	top: 110px;
}

.row-4 {
	top: 125px;
}

.section-two {
	margin-top: -500px;
	width: 100%;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(3,3,3,1) 16%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(16%, rgba(3,3,3,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(3,3,3,1) 16%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(3,3,3,1) 16%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(3,3,3,1) 16%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(3,3,3,1) 16%, rgba(0,0,0,1) 100%);
}

.intro-quote {
	padding-top: 500px;
	display: inline-block;
	color: white;
	line-height: 1.5;
	font-family: 'Old Standard TT', serif;
	font-size: 1.4rem;
	font-weight: 500;
	padding-left: 15%;
}

.intro-quote > span {
	font-family: 'Old Standard TT', serif;
	font-size: 1.2rem;
	font-weight: 300;
}

.section-two video {
	width: 100%;
	margin-top: 100px;
}

.poem-ex {
	color: $poem-color;
	background-color: black;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 200px;
	padding-bottom: 250px;
	line-height: 1.5;
	font-family: 'Old Standard TT', serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.section-four, .section-six {
	background-color: black;
}

.section-four video {
	width: 100%;
}

.section-six video {
	width: 100%;
}

// The TROUBADOR

.front.trb {
	text-align: center;
}

.title.trb {
	width: 100%;
	top: 100vh;
}

.section-two-tr {
	height: 300vh;
	width: 100%;
	position: relative;
}

.intro-tr {
	color: $dark-grey;
	position: absolute;
	margin: 80vh 0;
	padding: 25px 25%;
	background-color: rgba(255,255,255,0.8);
	font-family: "Open Sans";
}

.poem-tr {
	line-height: 1.5;
	display: block;
	font-family: "Open Sans";
}

.hover-link {
	padding: 2px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	background-color: black;
	color: white;
	text-decoration: none;
}

.hover-link:hover {
	background-color: #f2f2f2;
	color: black;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.vid-tr-container {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0;
	transition: 1s;
	-webkit-transition: 1s;
	z-index: 0;
}

.vid-tr-container1.active, .vid-tr-container2.active, .vid-tr-container3.active {
	opacity: 0.4;
	transition: 1s;
	-webkit-transition: 1s;
}

.vid-tr {
	width: 100%;
}

.gradient-trans-bottom-tr {
	position: absolute;
	width: 100%;
	height: 250px;
	z-index: 1;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.gradient-trans-top-tr {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	z-index: 1;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.poem1-tr, .poem2-tr {
	position: relative;
	color: #303030;
	margin: 80vh 0;
	padding: 25px 25%;
	z-index: 100;
	background-color: rgba(255,255,255,0.8);
}

.poem3-tr {
	position: relative;
	color: $dark-grey;
	padding: 25px 25%;
	margin: 80vh 0 45vh 0;
	z-index: 100;
	background-color: rgba(255,255,255,0.8);
}

@media (max-width: 800px) and (max-height: 500px) {
	.poem-tr {
		font-size: 1rem;
	}

	.poem1-tr, .poem2-tr, .poem3-tr, .intro-tr {
		padding: 15px 15%;
		text-align: center;
	}

	.poem3-tr {
		margin-bottom: 30vh;
	}

	.gradient-trans-bottom-tr, .gradient-trans-top-tr {
		height: 100px;
	}
}

// The Echo

.white-landing {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: white;
}

// Echo Parallax Effect

.parallax {
	position: relative;
	z-index: 2;
	perspective: 1px;
	height: 100vh;
	width: 100%;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: black;
}
.parallax__layer--base {
	transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-0.25px) scale(1.25);
}
.parallax__layer--deep {
	transform: translateZ(-0.5px) scale(1.5);
}
.parallax__layer--title {
	transform: translateZ(-0.75px) scale(1.75);
}

.ec-title {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 52%;
	text-align: center;
	font-family: "Amatic SC" !important;
	font-weight: 700;
	font-size: 3rem;
}

.echo-img {
	padding-bottom: 100vh;
	max-width: 1043px;
	width: 100%;
	margin: auto;
	display: block;
}

.gradient-ec {
	position: relative;
	z-index: 2;
	height: 100vh;
	width: 100%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.ec-bg {
	position: relative;
	top: 0;
	background-image: url(/images/puddle.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}

.ec-bg-container {
	position: fixed;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
}

.white-bg.ec {
	z-index: 0;
}

.section-two-ec {
	height: 70vh;
	width: 100%;
	position: relative;
	z-index: 2;
	pointer-events: none;
}

.intro-ec {
	color: white;
	position: absolute;
	margin: 50vh 0;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	font-family: "Open Sans";
}

.poem-ec {
	color: white;
	position: relative;
	pointer-events: none;
	z-index: 2;
	font-family: "Open Sans";
}

.poem-ec div {
	position: relative;
	z-index: 2;
	pointer-events: none;
	margin: 50vh auto;
	width: 350px;
}

#video {
	position: absolute;
	top: 0;
	width: 700px;
	margin-left: -100px;
}

// The Architect

.bottom-ar {
	position: relative;
}

.left-ar {
	text-align: center;
	width: 65%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

.right-ar {
	width: 35%;
	height: 100%;
	float: right;
}

#model-container {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	text-align: center;
	width: 100%;
}

#model {
	top: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	right: 0;
	position: absolute;
	margin: auto;
	width: 90%;
	height: 80%;
}

.poem-ar {
	padding: 0 10% 0 10%;
}

.parallax__layer--base.ar {
	transform: translateZ(0);
	z-index: 3;
}

.parallax__layer--back.ar {
	transform: translateZ(-0.2px) scale(1.2);
	z-index: 4;
}

.parallax__layer--deep.ar {
	transform: translateZ(-0.4px) scale(1.4);
	z-index: 5;
}

.parallax__layer--title.ar {
	transform: translateZ(-0.6px) scale(1.6);
	z-index: 6;
}

.arch-img {
	padding-top: 80vh;
	padding-bottom: 100vh;
	max-width: 500px;
	width: 50%;
	margin: auto;
	display: block;
}

.ar-title {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 52%;
	text-align: center;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 3rem;
}

