---
title: The Architect
---

<i class="icon icon-volume-up" target="_blank"></i>
<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag '/images/architect.png', class:'landing-img' %>
</div>

<div class="section-two-ar">
	<div class="intro-ar">
		“For the first time since I had been in Barcelona I went to have a look at the cathedral--a modern cathedral, and one of the most hideous buildings in the world. It has four crenellated spires exactly the shape of hock bottles. Unlike most of the churches in Barcelona it was not damaged during the revolution--it was spared because of its 'artistic value', people said. I think the Anarchists showed bad taste in not blowing it up when they had the chance, though they did hang a red and black banner between its spires.” <br><br>
		George Orwell, Homage to Catalonia, 1938
	</div>
</div>
<div class="poem-ar">
	<div>My mother told me the story of the diviard glasscrafter<br> 
	asleep in another world.</div> 

	<div>He stares across the shore and dreams of churches<br>
	made entirely of oceans, where<br>  
	wavering notes spill over the stillness with-<br>
	out borders, so each song dies where it wants.</div>

	<div>As he sleeps his feet anchor to the seabed<br>
	and he flowers into a reef in shadow.</div>

	<div>Awake, he knows he cannot cast the sea;<br>
	he sketches the face of the reef.</div>

	<div>It drew first breath after his death, just as rain<br>
	flooded the unclosed dome, ruptured<br> 
	the windows, and the tears waterfell over the will-o-wisps of Barcelona.</div>

	<div>The tiles shed their shells; archways divided into arcades;<br> 
	the spine of beams flushed a deck (the tadpoles stood in awe<br>
	and then ambivalence) - its glass wings<br> 
	grounded under the open sky.</div>

	<div>Only the husk remains<br>
	an anachronism in every age,<br> 
	circled by a sea of concrete blocks and comwire.</div>

	<div>My mother is a humble architect:<br> 
	she gathers the vectors of her project layout<br> 
	like a small pond of water-lilies.</div>

	<div>The roof she designs is green:<br>
	soil, trunks, and trees breathe freely,<br>
	clean. The real deal.</div>

	<div>“Spaces are mortal,” she says.<br>
	I didn’t understand until<br>
	years later, when I saw the diviard<br>
	alone on the opposite shore.</div> 
</div>


