---
title: The Architect
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/architect.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="parallax">
	<div class="parallax__layer parallax__layer--title ar">
		<div class="ar-title">the architect</div>
	</div>
	<div class="parallax__layer parallax__layer--deep ar">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/front.png', class:'arch-img' %>
	</div>
	<div class="parallax__layer parallax__layer--back ar">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/mid.png', class:'arch-img' %>
	</div>
	<div class="parallax__layer parallax__layer--base ar">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/back.png', class:'arch-img' %>
	</div>
</div>
<div class="gradient-ec"></div>

<div class="bottom-ar">
	<div class="left-ar">
		<div id="model-container">

			<iframe id="model" src="https://3dwarehouse.sketchup.com/embed.html?mid=ub843c200-8650-4dcf-b569-977846e354b2&width=400&height=300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="400" height="300" allowfullscreen></iframe>
		</div>
	</div>
	<div class="right-ar">
		<div class="poem-ar poem-share">
			<div>My mother told me the story of the Spaniard glasscrafter<br> 
			asleep in another world.</div> 

			<div>He stares across the shore and sketches churches<br>
			made entirely of oceans, where wavering notes<br>  
			spill over the stillness with-<br>
			out borders.<br>
			Each song dies where it wants.</div>

			<div>Asleep his feet anchor to the dim seabed<br>
			and his body flowers into a reef.</div>

			<div>Awake he knows he cannot cast the sea;<br>
			his pen trembles a sketch of what he can remember –<br>
			a face.</div>

			<div class="major-break"></div>

			<div>It drew first breath decades after his death, just<br>
			as rain flooded its unclosed dome, ruptured<br> 
			the windows,<br>
			and the tears waterfell over the will-o-wisps of Barcelona.</div>

			<div>
			The tiles shed<br> 
            their shells;<br> 
			archways divided <br>
            into arcades;<br> 
			the spine of beams<br> 
            flushed a deck; <br>
			its glass wings grounded <br>
			and surrounded by a sea of flattops and comwire – <br>
			only its incomplete husk remains<br>
			an anachronism for every age.
			</div>

			<div class="major-break"></div>

			<div>
			My mother is a humble architect:<br> 
			she gathers the vectors of her project layout<br> 
			like a small pond of water-lilies.
			</div>  

			<div>
			The roof, she designs, is green:<br>
			soil and concrete<br> 
			breathe freely,<br>
			clean.
			</div>

			<div> 
			“Spaces are mortal,” she says.<br>
			And I didn’t understand until<br>
			years later, when I saw the Spaniard<br>
			alone on <%= link_to 'the opposite shore', '/hermit.html', class:"hover-link ar" %>.
			</div> 
		</div>
	</div>
</div>


