---
title: The Architect
---

<i class="icon icon-volume-up" target="_blank"></i>
<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag '/images/architect.png', class:'landing-img' %>
</div>
<div class="ar-bg"></div>

<script>
		$(document).ready(function() {
			try {
				$('.ar-bg').ripples({
					resolution: 512,
					dropRadius: 20, //px
					perturbance: 0.04,
				});
			}
			catch (e) {
				$('.error').show().text(e);
			}

			// Automatic drops
			setInterval(function() {
				var $el = $('.ar-bg');
				var x = Math.random() * $el.outerWidth();
				var y = Math.random() * $el.outerHeight();
				var dropRadius = 20;
				var strength = 0.03 + Math.random() * 0.03;
				
				$el.ripples('drop', x, y, dropRadius, strength);
			}, 2000);
		});
	</script>