---
title: The Architect
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/echo.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>
<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/architect.png', class:'landing-img' %>
</div>

<div class="white-bg ec"></div>

<div class="parallax">
	<div class="parallax__layer parallax__layer--title">
		<div class="ec-title">the echo</div>
	</div>
	<div class="parallax__layer parallax__layer--deep">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/echo-bg.png', class:'echo-img' %>
	</div>
	<div class="parallax__layer parallax__layer--back">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/echo-mg.png', class:'echo-img' %>
	</div>
	<div class="parallax__layer parallax__layer--base">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/echo-fg.png', class:'echo-img' %>
	</div>
</div>
<div class="gradient-ec"></div>

<div class="bottom-ar">
	<div class="left-ar">
		<div id="model-container">
			<iframe id="model" src="https://3dwarehouse.sketchup.com/embed.html?mid=ub843c200-8650-4dcf-b569-977846e354b2&width=400&height=300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="400" height="300" allowfullscreen></iframe>
		</div>
	</div>
	<div class="right-ar">
		<div class="poem-ar">
			<div>My mother told me the story of the diviard glasscrafter<br> 
			asleep in another world.</div> 

			<div>He stares across the shore and dreams of churches<br>
			made entirely of oceans, where<br>  
			wavering notes spill over the stillness with-<br>
			out borders, so each song dies where it wants.</div>

			<div>As he sleeps his feet anchor to the seabed<br>
			and he flowers into a reef in shadow.</div>

			<div>Awake, he knows he cannot cast the sea;<br>
			he sketches the face of the reef.</div>

			<div>It drew first breath after his death, just as rain<br>
			flooded the unclosed dome, ruptured<br> 
			the windows, and the tears waterfell over the will-o-wisps of Barcelona.</div>

			<div>The tiles shed their shells; archways divided into arcades;<br> 
			the spine of beams flushed a deck (the tadpoles stood in awe<br>
			and then ambivalence) - its glass wings<br> 
			grounded under the open sky.</div>

			<div>Only the husk remains<br>
			an anachronism in every age,<br> 
			circled by a sea of concrete blocks and comwire.</div>

			<div>My mother is a humble architect:<br> 
			she gathers the vectors of her project layout<br> 
			like a small pond of water-lilies.</div>

			<div>The roof she designs is green:<br>
			soil, trunks, and trees breathe freely,<br>
			clean. The real deal.</div>

			<div>“Spaces are mortal,” she says.<br>
			I didn’t understand until<br>
			years later, when I saw the diviard<br>
			alone on the opposite shore.</div> 
		</div>
	</div>
</div>


