---
title: Credits
---
<div class="white-bg"></div>

<div id="credits">
	<h1>by</h1><br>
	<p>marcello ferrara / writer</p>
	<p>ashley girty / editor</p>
	<a href="http://www.nhaley.ca" target="_blank"><p>nicholas haley / developer</p></a>
	<p>allan macdonald / designer</p>
</div>

<div class="contact">
	<a href="mailto:mgfverse@gmail.com"><i class="icon-envelope"></i> mgfverse@gmail.com</a>
</div>