---
title: Credits
---
<div class="white-bg"></div>

<div id="credits">
	<h1>by</h1><br>
	<a href="https://twitter.com/mgfverse" target="_blank"><p>mf / director</p></a>
	<p>ashley girty / editor</p>
	<a href="http://www.nhaley.ca" target="_blank"><p>nicholas haley / developer</p></a>
	<p>allan macdonald / designer</p>
	<h4><i>with special thanks to</i></h4>
	<p>brian trehearne</p>
	<p>mcgill department of digital humanities</p>
</div>

<div class="contact">
	<a href="mailto:mgfverse@gmail.com"><i class="icon-envelope"></i> mgfverse@gmail.com</a>
</div>