---
title: The Echo
---

<i class="icon icon-volume-up" target="_blank"></i>
<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/architect.png', class:'landing-img' %>
</div>


<div class="white-bg ec"></div>
<div class="white-landing"></div>
<div class="ec-bg-container">
	<div class="ec-bg"></div>
	<video id="video" autoplay></video>
</div>

<div class="section-two-ec">
	<div class="intro-ec">
		“Tu masa de oprimidos y de parias – le contesté – no es más que una abstracción. Sólo los individuos existen, si es que existe alguien. El hombre de ayer no es el hombre de hoy sentencio algún griego. Nosotros dos, en este banco de Ginebra o de Cambridge, somos tal vez la prueba.”<br><br>
		Borges, El Otro
	</div>
</div>
<div class="poem-ec">
	<div>What you call consciousness is the sum<br>
	of colours reflected off many mirrors.<br> 
	Your memories are as distant as dreams,<br>
	and when you cannot remember, you invent<br>
	fictions that become more brilliant with each<br>
	utterance, sheltered from the rain.</div>

	<div>You are changing, and yet you fear change:<br> 
	you prefer the stream from which you drink<br>			
	and reflect to be still.<br>
	If there were no mirrors,<br>
	I would lay by the lakes,<br>
	and if all the waters were rapid,<br>
	I would carve myself in stone.</div> 

	<div>We see our own reflection over<br>
	the circumference of our eyes.<br>
	What a terrible fate for a man<br>
	who hates the sight of himself.</div>
</div>


