---
title: The Exile
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/exile.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/exile-bg.png', class:'landing-img bg' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/exile-mg.png', class:'landing-img mg' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/exile-fg.png', class:'landing-img fg' %>
</div>
<div class="front">
	<h1 class="title">THE EXILE</h1>
</div>
<div class="text-segue">
	<h1 class="rows row-1">THE EXILE THE EXILE THE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-2">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-3">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-4">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
</div>
<div class="section-two">
	<div class="intro-quote poem-share">
		“Amor, amor, hasta la noche abrupta,<br> desde el sonoro pedernal andino,<br> hacia la aurora de rodillas rojas,<br> contempla el hijo ciego de la nieve.”<br><br><br>
		<span>- Pablo Neruda,<br>
			Alturas de Macchu Picchu, VIII
		</span>
	</div>
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves1.mp4" autoplay loop muted></video>
</div>
<div class="section-three poem-ex poem-share">
	<strong>III</strong><br>
	Brochure of Machu Picchu:<br>
	figure 1 – brown children with Andean smiles<br> 
	figure 2 – blue flowers under a famished sky<br>
	figure 3 – meditation, adventure, and Incan ruins!<br> 
	All the handprints of the moon<sup>m</sup><br>
	figure 4 – margaritas and stars,<br>
	figure 5 – canteens to catch the rain fall<br> 
	more time to relax and recharge your marginal utility.<br><br> 

	Meet those cosmic Latinas made famous by Neruda.<sup>tm</sup><br>
	Guides speak English, Chinese, German, and (of course) Spanish. 
</div>
<div class="section-four">
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves2.mp4" autoplay loop muted></video>
</div>
<div class="section-five poem-ex poem-share">
	<strong>I</strong><br>
	My mother read out your poetry under a maple canopy<br>
	as I wondered of the wonders made by my brown ancestors<br>
	thousands of years and kilometres removed<br>
	from my own asphalt street<br> 
	and pale feet.<br><br> 
	
	Your verses remind her, and those like her, of Santiago.<br> 
	Exiles.<br> 
	The military burned your books because they were about love.<br><br> 
	
	As a child I sat at the back of class, my eyes trained to the clock.<br>
	I tried to imagine my mother, young as me; the day when soldiers<br>
	stormed into the school, their rifles trained to the student’s heads,<br>
	as she watched her music teacher be taken into the back of a black truck,<br>
	never to be seen again.<br><br> 
	
	The class hung a photo of her above the blackboard.<br> 
	And you died just days later, heartbroken and comfortably<br>
	asleep on morphine.<br><br><br> 

	<strong>III</strong><br>
	My mother took me back to Chile, but I didn't find you, Neruda.<br> 
	I couldn’t speak the language on your plaque. I just stood before<br>
	your grave while army paraded in the streets, their swastikas proudly<br> 
	broached over their hearts.<br><br> 

	It was just another shitty South American country,<br> 
	full of American music. 
</div>
<div class="section-six">
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves3.mp4" autoplay loop muted></video>
</div>
<div class="section-seven poem-ex poem-share">
	In the Atacama, guanacos bite<br> off cactus flowers, and<br> pre-Columbian carvings of<br> stories and faces on stones<br> lay along prehistoric roads,<br> where a death camp was built –<br>
	fresh bodies buried beside<br> mummified remains –<br>
	a field of bent black crosses,<br> enough to make nuns atheist.<br><br>
	Mothers still search for the bones<br> of their children, executed and<br> forgotten on the sand decades<br> past.<br><br>
	But they still go on, every week,<br> in the Atacama – the driest heat –<br> the thinness atmosphere of this<br> earth.<br><br>
	They walk like vultures to<br> scavenge the scraps from the<br> mud.<br><br>
	The dust sparkles under the clear starlight as missing photographs mold.<br> Does that endurance come from hope or despair?<br><br>
	This is true love, one absent<br> from all your sweet <%= link_to 'poems', '/architect.html', class:"hover-link ex" %>.
</div>
