---
title: The Exile
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/exile.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/cave.png', class:'landing-img' %>
</div>
<div class="front">
	<h1 class="title">THE EXILE</h1>
</div>
<div class="text-segue">
	<h1 class="rows row-1">THE EXILE THE EXILE THE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-2">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-3">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
	<h1 class="rows row-4">THE EXILETHE EXILETHE EXILETHE EXILETHEEX ILETHEEXILE THE EXILE THE EXILETHE EX ILETHE EXILETHE EXILE THE EXILE THE EXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE THE EXILE THEEXI LETHE EXILE THE EXILETHEEX ILETHEEXILE THE EXILE</h1>
</div>
<div class="section-two">
	<div class="intro-quote poem-share">
		“Amor, amor, hasta la noche abrupta,<br> desde el sonoro pedernal andino,<br> hacia la aurora de rodillas rojas,<br> contempla el hijo ciego de la nieve.”<br><br><br>
		<span>- Pablo Neruda,<br>
			Alturas de Macchu Picchu, VIII
		</span>
	</div>
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves1.mp4" autoplay loop muted></video>
</div>
<div class="section-three poem-ex poem-share">
	Brochure of Machu Picchu:<br>
	brown children with Andean smiles,<br> blue flowers under a famished sky -<br> Meditation, adventure, and Incan ruins!<br><br>
	All the handprints of the moon: margaritas and stars,<br> canteens to catch the rain fall –<br>
	more time to relax and recharge<br>
	your marginal utility.<br><br>
	Guides speak English, Chinese, German,<br> and don’t forget Spanish!<br>
	Meet cosmic Latina women,<br>
	made famous by Neruda.
</div>
<div class="section-four">
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves2.mp4" autoplay loop muted></video>
</div>
<div class="section-five poem-ex poem-share">
	My mother read out your poetry, under the canopy of maple leaves as I wondered on the wonders made by my brown ancestors thousands of kilometers and years removed from the ruined brick under my pale feet. Your verses remind her, and those like her, of Santiago – exiles.<br><br>
	She was a child when her English<br> teacher was taken by soldiers with<br> heavy arms off in the night.<br><br>
	She held her youngest brother as<br> he cried at the sight of leviathans<br> flying-overhead,<br>
	sirens in full aria.<br><br>
	A few weeks passed before<br> bullets broke skulls into fragments<br> of wet topaz on the steps of<br> parliament,<br>
	and the military burned your books<br> because they were about love.<br><br>
	You died just days later – heartbroken –<br> comfortably asleep in morphine.
</div>
<div class="section-six">
	<video src="http://s3.amazonaws.com/sonofsnow/videos/caves3.mp4" autoplay loop muted></video>
</div>
<div class="section-seven poem-ex poem-share">
	In the Atacama, guanacos bite<br> off cactus flowers, and<br> pre-Columbian carvings of<br> stories and faces on stones<br> lay along prehistoric roads,<br> where a death camp was built –<br>
	fresh bodies buried beside<br> mummified remains –<br>
	a field of bent black crosses,<br> enough to make nuns atheist.<br><br>
	Mothers still search for the bones<br> of their children, executed and<br> forgotten on the sand decades<br> past.<br><br>
	But they still go on, every week,<br> in the Atacama – the driest heat –<br> the thinness atmosphere of this<br> earth.<br><br>
	They walk like vultures to<br> scavenge the scraps from the<br> mud.<br><br>
	The dust sparkles under the clear starlight as missing photographs mold.<br> Does that endurance come from hope or despair?<br><br>
	This is true love, one absent<br> from all your sweet poems.
</div>
