---
title: The Hermit
---

<div class="white-bg"></div>
<div class="conversation-container">
	<div class="conversation">
		<div class="sender"></div>
		<div class="user"></div>
	</div>
	<form id="form">
		<input type="text" name="inputText" id="input">
		<input type="submit" value="Submit">
	</form>
</div>