---
title: The Hermit
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/hermit.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="white-bg"></div>
<div id="video-container-hr"></div>

<div class="parallax">
	<div class="parallax__layer parallax__layer--deep">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/hermit-bg.png', class:'hermit-img' %>
	</div>
	<div class="parallax__layer parallax__layer--back">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/hermit-mg.png', class:'hermit-img' %>
	</div>
	<div class="parallax__layer parallax__layer--base">
		<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/hermit-fg.png', class:'hermit-img' %>
	</div>
</div>

<div class="hermit-title">
	<h2>The Hermit</h2>
	松下問童子<br>
	言師採藥去<br>
	只在此山中<br>
	雲深不知處<br><br>
	Jia Dao, 尋隱者不遇
</div>
<div class="gradient-ec"></div>

<div class="conversation-container">
	<div class="conversation">
		<div class="message"></div>
	</div>
	<form id="form">
		<input type="text" name="inputText" id="input">
		<input type="submit" value="Submit">
	</form>
</div>
<script id="part1Template" type="text/template">
	<div class="sender">
		I am lazy today,<br>
		lazy all the days...<br><br> 
		The warmth of spring&apos;s acid rain<br> 
		cooled the air like fresh tea<br> 
		and I had forgotten<br> 
		the taste of leaves.<br> 
		Do you know what is special about today? 
	</div>
</script>

<script id="part2Template" type="text/template">
	<div class="sender">
		I remembered you. 
	</div>
	<div class="sender">
		Down the streets of saints,<br>
		perhaps I will rediscover<br>
		the bud of our first kiss. 
	</div>
	<div class="sender">
		When was the last time we spoke? 
	</div>
</script>

<script id="part3Template" type="text/template">
	<div class="sender">
		Better yet, when was the last time you listened?  
	</div>
</script>

<script id="part4Template" type="text/template">
	<div class="sender">
		That was my trade, I was Argus, but with ears.   
	</div>
	<div class="sender">
		My posture reflects the curves<br> 
		of the benches, my shoulders slouch like a studious monk. 
	</div>
	<div class="sender">
		I have been making myself an exemplary academic,<br>
		which is to say: I have been productively bored. 
	</div>
	<div class="sender">
		I no longer think in circles.<br>
		My mind winds down like a spiral staircase.   
	</div>
	<div class="sender">
		Could you still recognize me?    
	</div>
</script>

<script id="part5Template" type="text/template">
	<div class="sender">
		I came back, through the roaring sewers, head<br>
		down, past the barking strays, deep in these suburbs.    
	</div>
	<div class="sender">
		I think, one day, I&apos;ll build a church by hand (not<br>
		for any religion), but because they&apos;re quiet places<br>
		that people avoid.  
	</div>
	<div class="sender">
		Would you follow me there? 
	</div>
</script>

<script id="part6Template" type="text/template">
	<div class="sender">
		I lean on the lonely post and look for you,<br> 
		but I can’t see past the thick smog, or hear<br> 
		anything other than my own echoes…    
	</div>
</script>