---
title: Son of Snow
---

<div class="white-bg"></div>
<audio class="audio-ex">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/home.mp3"></source>
</audio>
<i class="icon icon-volume-up home" target="_blank"></i>

<video class="vid-home" src="http://s3.amazonaws.com/sonofsnow/videos/home.mp4" autoplay loop muted></video>

<div class="black-mask"></div>

<div class="home-title"><span>the blind son of snow</span></div>
<div id="time"></div>

<!-- <div class="home-container">
</div> -->

<!-- <%= link_to 'Start', '/exile.html' %> -->
