---
title: Son of Snow
---

<div class="white-bg"></div>
<audio class="audio-ex">
	<source src="audio/troubadour.mp3"></source>
</audio>
<i class="icon icon-volume-up" target="_blank"></i>

<div class="home-container">
	<div class="home-title"><span>the blind son of snow</span></div>
	<video class="vid-home" src="/videos/home.mp4" autoplay loop muted></video>
</div>

<!-- <%= link_to 'Start', '/exile.html' %> -->
