---
title: Son of Snow
---

<div class="white-bg"></div>
<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/home.mp3"></source>
</audio>
<i class="icon icon-volume-up home audio-active" target="_blank"></i>
<i class="icon icon-volume-off home" target="_blank"></i>

<video class="vid-home" src="http://s3.amazonaws.com/sonofsnow/videos/home.mp4" autoplay loop muted></video>

<div class="black-mask"></div>

<div class="home-title"><span>the blind son of snow</span></div>
<div id="start"><%= link_to 'Begin', 'exile.html' %></div>
<div id="time"></div>

<div class="share-buttons">
	<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>

	<a href="https://twitter.com/share" class="twitter-share-button" data-via="mgfverse" data-count="none">Tweet</a>
</div>

