---
title: The Nomad
---

<audio class="audio">
	<!-- 	<source src="http://s3.amazonaws.com/sonofsnow/audio/echo.mp3"></source> -->
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/wanderer.png', class:'wan-img' %>
</div>

<div class="nomad-text">
	
<h2>The Nomad</h2>

The first day of rain,<br> 
I listened to the cicadas call one another names,<br>
undergrown below pregnant clouds<br>
watching the expanse of the prairies do, as they always do –<br>
<%= link_to 'nothing', 'troubadour.html', class:"hover-link" %></div>. 

</div>

