---
title: The Troubadour
---

<audio class="audio">
	<source src="http://s3.amazonaws.com/sonofsnow/audio/troubadour.mp3"></source>
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>
<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/boy.png', class:'landing-img' %>
</div>
<div class="front trb">
	<h1 class="title trb">THE TROUBADOUR</h1>
</div>
<div class="vid-tr-container1 vid-tr-container">
	<div class="gradient-trans-bottom-tr"></div>
	<video class="vid-tr" src="http://s3.amazonaws.com/sonofsnow/videos/troub1.mp4" autoplay loop muted></video>
	<div class="gradient-trans-top-tr"></div>
</div>
<div class="vid-tr-container2 vid-tr-container">
	<div class="gradient-trans-bottom-tr"></div>
	<video class="vid-tr" src="http://s3.amazonaws.com/sonofsnow/videos/troub2.mp4" autoplay loop muted></video>
	<div class="gradient-trans-top-tr"></div>
</div>
<div class="vid-tr-container3 vid-tr-container">
	<div class="gradient-trans-bottom-tr"></div>
	<video class="vid-tr" src="http://s3.amazonaws.com/sonofsnow/videos/troub3.mp4" autoplay loop muted></video>
	<div class="gradient-trans-top-tr"></div>
</div>
<div class="section-two-tr">
	<div class="intro-tr poem-share">
		“The god is inside the stone, vacuous exercet aera morsus. The force is arrested, but there is never any question about its latency, about the force being the essential, and the rest ‘accidental’ in the philosophic technical sense. The shape occurs.” <br><br>
		Ezra Pound, Cavalcanti, 152
	</div>
</div>
<div class="video-space vid1"></div>
<div class="poem1-tr poem-tr poem-share">
	We wandered like stray dogs, barking<br>
	back at bands of bitches, flicking<br> 
	our bics or butterfly knives, lips<br> 
	still wet from the black liquorish liquor, and chips<br>
	dipped in yogurt saltwater.<br><br> 

	We spoke in riddles like tricksters, snaking<br>
	credit cards off fanny packers, and dancing<br>
	on the beach to the new blues while<br>
	the clean sun sweat over everything.<br><br>

	I spent hours shaking the sand off my shoes.<br><br> 

	We ditched Sunday school to meet girls outside the deli,<br> 
	drink carbonated myrtle-leaves and chomp<br> 
	on thin crust pizza,<br> 
	kiss and smoke,<br> 
	but I always choked. 
 
</div>
<div class="video-space vid2"></div>
<div class="poem2-tr poem-tr poem-share">
	There was no need to sleep, being a dream,<br> 
	peeing behind Coca-Cola machines.<br><br> 

	We wandered deep into the ravines, past the ambient traffic,<br> 
	followed the lonely streams until they criss-crossed clogged with trash and spread<br> 
	across a nameless flatland,<br> 
	dotted by low-cost apartment towers that stood like plastic stele<br> 
	naked in the sun,<br> 
	a mouldy army of air conditioners hanging off each balcony<br>
	nervously.<br><br>

	One day, I tell my son, the hinges will snap, but he never listens. 
 

</div>
<div class="video-space vid3"></div>
<div class="poem3-tr poem-tr poem-share">
	We are old men now, caught in traffic, at work until our knees buckle,<br> 
	come home,<br> 
	sit down,<br> 
	breathe,<br> 
	chicken and basmati rice on our lap,<br> 
	and every day<br>
	the sound of our laughter crawls further <%= link_to 'away', '/echo.html', class:"hover-link" %>.
</div>